@{
    ViewData["Title"] = "IFrame";
}

<h1>IFrame</h1>

<p>IFrame based embedding of Power BI report. Code for IFrame is available at Power BI portal.</p>

<iframe 
    width="800" 
    height="500" 
    src="https://app.powerbi.com/reportEmbed?reportId=YOUR-REPORT-KEY" 
    frameborder="0" 
    allowFullScreen="true">
</iframe>