@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This solution has an example of embedding Power BI reports:</p>
    <ul>
        <li>
            <strong>C# and JavaScript</strong> - using server-side code and JavaScript to display embedded report. NB!
            Needs configuring (appsettings.json)!
        </li>
    </ul>
</div>